html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: black;
	color: rgba(38, 214, 150, 0.5);
	margin: 0;
	padding: 10x;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid rgba(38, 214, 150, 0.1);
	border-radius: 2px;
	color: #ffffff;
	outline-color: rgba(38, 214, 150, 0.5);
	outline-width: 1px;
	background-color: rgba(38, 214, 150, 0.15);
}

input:disabled {
	color: #ccc;
}

button {
	width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

button:hover {
	background-color: rgba(38, 214, 150, 0.3);
	border-color: rgba(38, 214, 150, 0.2);
	text-decoration: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

/* custom styles here */
/* font styling */
h1 {
	color: #26D696;
	font-family: 'Helvetica', sans-serif;
	font-size: 1.5em;
}
h2 {
	color: #26D696;
	font-family: 'Helvetica', sans-serif;
	font-size: 1.2em;
}
h3 {
	color: #ffffff;
	font-family: 'Helvetica', sans-serif;
	font-size: 1em;
}
h4 {
	color: #26D696;
	font-family: 'Helvetica', sans-serif;
	font-size: 1em;
}
p {
	color: #ffffff;
	font-family: 'Helvetica', sans-serif;
	font-size: 1em;
}
p2 {
	color: #26D696;
	font-family: 'Helvetica', sans-serif;
	font-size: 1em;
}

/* Feed styling */
.card-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.card-title {
	flex-grow: 1;
	text-align: left;
	margin-right: auto;
}

.card-content button {
	flex-shrink: 0;
	width: 60%;
	margin-left: auto;
}

.list-feed {
	gap: 20px;
	height: 80%;
} 

.feed-item {
	gap: 10px;
	background: rgba(0, 0, 0, 0.1);
	padding: 5px;
	border-radius: 2px;
	box-shadow: 2px 4px 6px rgba(38, 214, 149, 0.1);
	margin: 5px;
	cursor: pointer;
}

.feed-item:hover {
	background: rgba(38, 214, 149, 0.1);
}

.inner-item {
	display: flex;
	align-items: center;
	padding: 2px;
	margin: 5px;
}

/* Map styling */

.small-map-box {
	box-sizing: border-box;
	position: relative;
	width: 150px;
	height: 150px;
}

/* File input styles */
input[type="file"] {
    display: none;
}

.file-upload-input {
	display: none;
}

.file-upload-label {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 8px 16px;
	background-color: rgba(38, 214, 150, 0.1);
	color: #ffffff;
	border: 1px solid rgba(38, 214, 150, 0.1);
	border-radius: 2px;
	cursor: pointer;
	transition: background-color 0.3s, border-color 0.3s;
	box-sizing: border-box; /* Ensure box sizing includes padding and border */
	overflow: hidden; /* Hide any overflowing content */
}

.file-upload-label:hover {
	background-color: rgba(38, 214, 150, 0.2);
	border-color: rgba(38, 214, 150, 0.2);
}


.file-name {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-left: 8px;
	flex-grow: 1;
}

.file-upload-button {
    width: 100%;
	padding: 8px;
	margin-top: 5px;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}

.loading-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.elev-chart {
	box-sizing: border-box;
	position: relative;
	width: 90%;
	margin: 0 auto;
}